.white-space-preline {
  white-space: pre-line;
}

.div--icon-person{
    height: 2.625rem;
    width: 2.625rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.btn{
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 0.9rem;
}

.btn:hover{
    background-color: var(--secondary-color);
    
}